div {
    outline: 1px solid red;
    display: inline-block;
    margin: 10px;
    position: relative;

    &>a {
        user-select: none;
        position: fixed;
        transform: rotate(45deg);
        line-height: 1.6em;
        transform-origin: 150px 23px;
        text-align: center;
        font-family: sans-serif;
        display: inline-block;
        bottom: 53px;
        left: -91px;
        width: 300px;
        background-color: #03a9f4;
        outline: 4px solid #03a9f4;
        border: 2px dashed #ffffff;
        color: #ffffff;
    }

    &>h2 {
        position: absolute;
        background-color: #cec8c8;
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        right: 20px;
        top: 20px;
        user-select: none;
        box-shadow: -4px 4px 5px 1px #2b2828;

        &>a {
            text-decoration: underline;
            color: rgb(65, 121, 243);
            padding: 0 10px;
        }
    }
}
